*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

[class *="col-"]{
    float: left;
    border: 3px solid red;
}

body,html{height: 100%;}

.h100 {height: 100%;}
.h50 {height: 49%;}
.h30 {height: 33%;}

.marg {margin: 0.5%;}
.upper {margin-bottom: 0.9%;}
.pad {padding-bottom: 2.1%;}

#noBorder {border: 3px blue;}

.col-1 {width: 8.33%;}
.col-3 {width: 24%;}
.col-4 {width: 33%;}
.col-6 {width: 49%;}
.col-8 {width: 65%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media screen and (max-width: 750px) {
    
    [class *="col-"] {
        float: none;
        width: 98%;
        height: auto;
        min-height: 100px;
        margin: 0.5% 1%;
        padding: 5px 0;
    }

    .col-1 {
        width: 100%;
        float: left;
        height: 1%; 
        margin: 0;
    }
    
    .col-11 {
        width: 100%;      
        float: none;       
        clear:both;
        margin: 0;  
    }

    .marg, .pad, .upper {padding: 0;}
}