* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    flex-direction: row;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-content: flex-start;
}

.flex-item {
    border: 3px solid red;
}

/* Add border to col-11 */
.col-11 {
    border: 3px solid red;
}

/* Remove 'solid' from #noBorder per request */
#noBorder {
    border: 3px blue;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 49%;
    margin: 0.5%;
}

/* Column widths */
.col-1 { flex: 0 0 8.33%; }
.col-3 { flex: 0 0 24%; }
.col-4 { flex: 0 0 33%; }
.col-6 { flex: 0 0 49%; }
.col-8 { flex: 0 0 65%; }
.col-11 { flex: 0 0 91.66%; }
.col-12 { flex: 0 0 100%; }

/* Heights */
.h100 { height: 100%; }
.h50 { height: 49%; }
.h30 { height: 33%; }

/* Spacing */
.marg { margin: 0.5%; }
.upper { margin-bottom: 0.9%; }
.pad { padding-bottom: 2.1%; }

/* Make children of #noBorder split height equally */
#noBorder > .col-12 {
    flex: 1 1 0;
    height: auto;
    width: 100%;
}

/* Responsive: stack everything at 750px and below */
@media screen and (max-width: 750px) {
    body {
        flex-direction: column;
    }

    .col-1 {
        flex: 0 0 100% !important;
        height: auto;
        min-height: 100px;
    }

    .col-3 {
        flex: 0 0 100% !important;
        height: auto;
        min-height: 80px;
    }

    .col-4, .col-8 {
        flex: 0 0 100% !important;
        height: auto;
        min-height: 100px;
    }

    /* Keep col-6 at 50% width in mobile so they sit side-by-side */
    .col-6 {
        flex: 0 0 50% !important;
        height: auto;
        min-height: 100px;
    }

    .col-11 {
        flex: 0 0 100% !important;
        height: auto;
    }

    .col-12 {
        flex: 0 0 100% !important;
        height: auto;
        min-height: 50px;
    }

    .flex-container {
        flex-wrap: wrap;
    }

    .marg { margin: 0.5% 0%; }

    #noBorder {
        flex-direction: column;
        width: 50%;
        margin: 0.5%;
        min-height: 200px;
    }

    #noBorder > .col-12 {
        flex: 1 1 0;
        height: auto;
        width: 100%;
    }
}
